* {
  margin: 0;
}

body {
  .attribution {
    font-size: 11px;
    text-align: center;
    a {
      color: hsl(228, 45%, 44%);
    }
  }
  main {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(209deg, rgba(25,162,174,1) 0%, rgba(25,162,174,0.5) 92%);
    overflow: hidden;
    position: relative;
    img {
      z-index: 1;
      width: 50dvw;
      aspect-ratio: 1/1;
      position: absolute;
      &.circle-top {
        top: clamp(-5%,-25dvh,-25dvh);
        left: clamp(-5%,-25dvh,-25dvh);
      }
      &.circle-bottom {
        bottom: clamp(-5%,-25dvh,-25dvh);
        right: clamp(-5%,-25dvh,-25dvh);
      }
    }
    .card {
      z-index: 2;
      width: 500px;
      height: max-content;
      background-color: #fff;
      border-radius: 2rem;
      overflow: hidden;
      margin: 0 20px;
      .header {
        height: 200px;
        background-image: url("../images/bg-pattern-card.svg");
        display: flex;
        justify-content: center;
        align-items: end;

        span {
          width: 150px;
          height: 150px;
          background-color: #fff;
          border-radius: 100%;
          margin: 0 0 -80px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            border-radius: 100%;
            width: 130px;
            object-fit: cover;
          }
        }
      }
      .content {
        margin: 100px 0 0 0;
        h1 {
          text-align: center;
          margin: 1.5rem;
          span {
            color: hsl(0, 0%, 59%);
          }
        }
        p {
          text-align: center;
          color: hsl(0, 0%, 59%);
          margin: 0 0 20px 0;
          font-size: 18px;
        }
      }
      .teiler {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 20px;
        margin: 20px 0;
        h2 {
          text-align: center;
        }
        p {
          font-size: 18px;
          text-align: center;
          color: hsl(0, 0%, 59%);
        }
      }
    }
  }
}
